
.head h3{
    text-align: center;
    color: #4543d0;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.5;
    /* text-transform: tr; */
    font-weight: 700;
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.content-side-heading{
    color: #4543d0;
    position: relative;
}
.company-logo{
   width: 20%;
}

.company-name-headings{
    position: absolute;
    top: -28%;
    left: 28%;
    color: #4543d0;
}

.compleated-projects{

    text-align: left;
}
.compleated-projects ul li{
    text-transform: capitalize;
    list-style-type: none;
    font-size: large;
    font-weight: 600;
}

@media screen and (max-width: 767px){
  
    .site-main-slider .seq-next {
        display: none;
    }
    .site-main-slider .seq-prev {
        display: none;
    }
}