
.head h3{
    text-align: center;
    color: #4543d0;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.5;
    /* text-transform: tr; */
    font-weight: 700;
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.content-side-heading{
    color: #4543d0;
    position: relative;
}
.company-logo{
   width: 20%;
}
.home-page-content{
    margin-top: 2%;
}

.company-name-headings{
    position: absolute;
    top: -28%;
    left: 28%;
    color: #4543d0;
}

.compleated-projects{

    text-align: left;
}
.compleated-projects ul li{
    text-transform: capitalize;
    list-style-type: none;
    font-size: large;
    font-weight: 600;
}

@media screen and (max-width: 767px){
  
    .site-main-slider .seq-next {
        display: none;
    }
    .site-main-slider .seq-prev {
        display: none;
    }

    .site-top-bar{
        display: none;
    }
    .home-page-content{
        margin-top: 5%;
    }
}
.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    z-index: 1000; /* Ensure it appears above other content */
}

/* Add styles for the WhatsApp icon image if needed */
.whatsapp-icon img {
    width: 60px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}